@model carnetutelvt.Models.Usertb

@{
    ViewData["Title"] = "Edit";
}


<div class="hero">
    <center> <h1>Editar Cuenta</h1></center>
    <div class="container">

        <form class="form" asp-action="Edit">
            <div class="row mb-2">
                <div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-3">
                    <div class="form-group">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
                </div>
                </div>
                    <div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-3">
            <div class="form-group">
               
                <input asp-for="Email" class="form-control"  />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            </div>
            <div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-3">
            <div class="form-group">

                        <input asp-for="Passwords" class="form-control" value="" />
                <span asp-validation-for="Passwords" class="text-danger"></span>
            </div>
            </div>
  
             <div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-3">
            <div class="form-group">
                        <select asp-for="Verifyuser" class="form-select" aria-label="Elegir verificación">

                            <option selected value="0">No</option>
                            <option value="1">Si</option>

                        </select>
                <span asp-validation-for="Verifyuser" class="text-danger"></span>
            </div>
            </div>
                
                <div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-3">
                    <div class="form-group">
                        <select asp-for="Rol" class="form-select" aria-label="Elegir Rol">
                           
                            <option selected value="0">User</option>
                            <option value="1">Admin</option>

                        </select>

                        <span asp-validation-for="Rol" class="text-danger"></span>
                    </div>
                </div>
               
             <div class="col-sm-12 col-md-6 mb-3 mb-lg-0 col-lg-3">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            </div>
           </div>
        </form>
        <a type="submit" class="btn btn-dark" asp-action="Index">Back</a>
    </div>
</div>

<div>
  
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
