html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.carnet {
    font-family: "Times New Roman", Times, serif;
    width: 35%;
    padding: 20px;
    background-color: #466b78;
    border: 3px solid #CCCCCC;
    text-align: center;
    margin: 0 auto;
    
    color: #000000;
}

.respuesta {
    border: 3px solid #CCCCCC;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    margin-top: 0;
}
    .carnet .content h1 {
        font-family: "Times New Roman", Times, serif;
        font-size: 20px;
        margin-top: 0;
        color: #000000;
        /*border: 3px solid #CCCCCC; */
        width: 100%;
        
    }

    .carnet .content h2 {
        font-family: "Times New Roman", Times, serif;
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 20px;
        color: #000000;
        /*   border: 3px solid #CCCCCC;*/
        width: 100%;
     
    }
    .carnet .content #logout {
        width: 30px;
        height: 30px;
        
    }

    .carnet .content .barralogo {
        width: 100%;
        height: 10%;
        margin-bottom: 10px;
   
        border: 3px solid #CCCCCC;
        text-align:center;
    }
    .carnet .content #perfilimg {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 20px;
        justify-content: center;
        border: 3px solid #CCCCCC;
    }

    .carnet .content .datos {
        text-align: center;
        justify-content: center;
        font-size: 14px;
        width: 100%;
        background-color: #9fc7c5;
        /*  border: 3px solid #CCCCCC;  border-radius: 20px;*/
    }

        .carnet .content .datos p {
            margin: 5px 0;
        }

        .carnet .datos a {
            color: #0000FF;
            text-decoration: none;
        }

    .carnet .content {
        border: 3px solid #CCCCCC;
        background-color: #94b5ce;
          background-image: url(/carnet\\fondocanet4.png);  border-radius: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        margin: auto;
        padding:10px;
    }
    .carnet .content #link{
        border: 3px solid #CCCCCC;
        background-color: #7f9b66;
        /*  background-image: url(/carnet\\imagen.jpg);  border-radius: 20px;*/
       
    }
         #qrcodeimg {
            width: 20%;
            height: 20%;
        }
        @media (max-width: 900px) {
            .carnet {
        font-family: "Times New Roman", Times, serif;
        width: 100%;
        padding: 20px;
        background-color: #466b78;
        border: 3px solid #CCCCCC;
        text-align: center;
        margin: 0 auto;
        color: #000000;
    }
}

        /*pr - sty*/

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 576px) {
    :root {
        --font-size-title: 40px;
    }
}

.card {
    max-width: 960px;
    border-radius: var(--border-radius-primary);
    box-shadow: 24px 24px 80px rgba(0, 0, 0, 0.1);
    padding: 20px 20px 28px 20px;
    box-sizing: border-box;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 576px) {
    .card {
        flex-direction: row;
        align-items: center;
        margin: 40px;
        padding: 32px;
    }
}

.card__image {
    width: 100%;
    max-height: 300px;
    border-radius: var(--border-radius-primary);
    -o-object-fit: cover;
    object-fit: cover;
    margin-bottom: 18px;
}

@media (min-width: 576px) {
    .card__image {
        width: 45%;
        max-height: none;
        min-height: 400px;
        margin-bottom: 0;
    }
}

@media (min-width: 576px) {
    .card__content {
        width: 55%;
        padding-left: 40px;
    }
}

.card__date {
    display: block;
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-caption);
    line-height: var(--line-height-caption);
    text-transform: uppercase;
    color: var(--color-text);
    margin-bottom: 6px;
}

@media (min-width: 576px) {
    .card__date {
        margin-bottom: 8px;
    }
}

 .card__title {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
    color: var(--color-text);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-image: linear-gradient(90deg, var(--color-highlight-primary), var(--color-highlight-secondary));
    background-size: 100% 42%;
    background-repeat: no-repeat;
    background-position: 0 85%;
    padding: 0 4px;
    margin-left: -4px;
}

 .buttons-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    background: white;
    border: solid 2px black;
    padding: .375em 1.125em;
    font-size: 1rem;
}

.button-arounder {
    font-size: 2rem;
    background: hsl(190deg, 30%, 15%);
    color: hsl(190deg, 10%, 95%);
    box-shadow: 0 0px 0px hsla(190deg, 15%, 5%, .2);
    transfrom: translateY(0);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    --dur: .15s;
    --delay: .15s;
    --radius: 16px;
    transition: border-top-left-radius var(--dur) var(--delay) ease-out, border-top-right-radius var(--dur) calc(var(--delay) * 2) ease-out, border-bottom-right-radius var(--dur) calc(var(--delay) * 3) ease-out, border-bottom-left-radius var(--dur) calc(var(--delay) * 4) ease-out, box-shadow calc(var(--dur) * 4) ease-out, transform calc(var(--dur) * 4) ease-out, background calc(var(--dur) * 4) steps(4, jump-end);
}

    .button-arounder:hover,
     .button-arounder:focus {
        box-shadow: 0 4px 8px hsla(190deg, 15%, 5%, .2);
        transform: translateY(-4px);
        background: hsl(230deg, 50%, 45%);
        border-top-left-radius: var(--radius);
        border-top-right-radius: var(--radius);
        border-bottom-left-radius: var(--radius);
        border-bottom-right-radius: var(--radius);
    }